[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
requests-cache = "*"
bs4 = "*"
selenium = "*"
webdriver-manager = "*"
lxml = "*"
pandas = "*"
beautifulsoup4 = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
