[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
requests-cache = "*"
bs4 = "*"
selenium = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
